name: Go Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write  # Required for creating releases

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history and tags

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 'stable'

    - name: Build Windows
      env:
        GOOS: windows
        GOARCH: amd64
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        COMMIT=$(git rev-parse --short HEAD)
        BUILD_TIME=$(date -u '+%Y-%m-%d_%H:%M:%S')
        go build -ldflags "-X main.Version=$VERSION -X main.CommitID=$COMMIT -X main.BuildTime=$BUILD_TIME" -o mbox-to-imap-windows-amd64.exe

    - name: Build Linux
      env:
         GOOS: linux
         GOARCH: amd64
      run: |
          VERSION=${GITHUB_REF#refs/tags/}
          COMMIT=$(git rev-parse --short HEAD)
          BUILD_TIME=$(date -u '+%Y-%m-%d_%H:%M:%S')
          go build -ldflags "-X main.Version=$VERSION -X main.CommitID=$COMMIT -X main.BuildTime=$BUILD_TIME" -o mbox-to-imap-linux-amd64

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          mbox-to-imap-windows-amd64.exe
          mbox-to-imap-linux-amd64
          